[submodule "utilsWorkflows"]
	path = utilsWorkflows
	url = git@github.com:FAMAF-resources/utilsWorkflows.git
[submodule ".github/workflow"]
	path = .github/workflows
	url = git@github.com:FAMAF-resources/parentRepository.git
